/* wlogout - Hyde Style (Catppuccin Mocha)
 * Based on: https://github.com/HyDE-Project/HyDE/tree/main/Configs/.config/wlogout
 * Icons from: https://github.com/HyDE-Project/HyDE/tree/main/Configs/.config/wlogout/icons
 */

* {
    font-family: "DejaVu Sans", "MesloLGS Nerd Font", sans-serif;
    background-image: none;
    font-size: 14px;
    font-weight: bold;
}

window {
    background-color: transparent;
}

button {
    color: #cdd6f4;
    background-color: rgba(30, 30, 46, 0.7);
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    box-shadow: none;
    text-shadow: none;
    margin: 20px 0px;
}

button:focus {
    background-color: rgba(69, 71, 90, 0.8);
}

button:hover {
    background-color: rgba(137, 180, 250, 0.6);
    border-radius: 36px;
    margin: 5px 0px;
    transition: all 0.3s cubic-bezier(0.55, 0.0, 0.28, 1.682);
}

#lock {
    background-image: url("/home/chris/.config/wlogout/icons/lock_white.png");
    border-radius: 36px 0px 0px 36px;
}

#lock:hover {
    border-radius: 36px;
}

#suspend {
    background-image: url("/home/chris/.config/wlogout/icons/suspend_white.png");
    border-radius: 0px;
}

#suspend:hover {
    border-radius: 36px;
}

#reboot {
    background-image: url("/home/chris/.config/wlogout/icons/reboot_white.png");
    border-radius: 0px;
}

#reboot:hover {
    border-radius: 36px;
}

#shutdown {
    background-image: url("/home/chris/.config/wlogout/icons/shutdown_white.png");
    border-radius: 0px 36px 36px 0px;
}

#shutdown:hover {
    border-radius: 36px;
}
